@font-face {
  font-family: "Avara-Bold";
  src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
  background-color: gainsboro;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid-container {
  display: grid;
  padding: 150px 450px 250px 15px;
  gap: 15px;
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name name name name name"
    "image-2 image-2 image-2 . bio bio"
    "image-2 image-2 image-2 text-2 . ."
    "text-1 image-1 image-1 image-1 image-1 image-1"
    ". . image-3 image-3 image-3 text-3";
}

.name {
  grid-area: name;
}

.name h1 {
  color: red;
  font-family: "Avara-Bold", serif;
  font-weight: normal;
  font-size: 8rem;
  margin: 0;
}

.name h1:hover {
  color: blue;
  font-style: italic;
  font-weight: bold;
  transition: color 1s ease;
}

.bio {
  grid-area: bio;
}

.bio p {
  color: green;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
}

.image-1 {
  grid-area: image-1;
  position: relative;
}

.image-1 img {
  transition: opacity 0.3s ease;
}

.image-1 .b {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-1:hover .a {
  opacity: 0;
}

.image-1:hover .b {
  opacity: 1;
}

.image-2 {
  grid-area: image-2;
}

.image-2 img {
  transition: transform 0.3s ease;
}

.image-2 img:hover {
  transform: scale(1.05);
}

.image-3 {
  grid-area: image-3;
}

.image-3 img {
  transition: transform 0.5s ease;
}

.image-3 img:hover {
  transform: rotate(5deg); /* dreht sich 5 Grad */
}

.text-1 {
  grid-area: text-1;
}

.text-1 p {
}

.text-2 {
  grid-area: text-2;
}

.text-3 {
  grid-area: text-3;
}
