@font-face {
  font-family: "Avara-Bold";
  src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
  /* background-image: url("data/GFSmithColorplan_Adriatic_100gsm.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . info info info ."
    ". . . image-1 image-1 ."
    "image-2 image-2 . . . ."
    ". . image-3 image-3 . .";
}

.name {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 3;
  pointer-events: none;
  transition: filter 0.3s ease;
}

.name h1 {
  color: red;
  font-family: "Avara-Bold", serif;
  font-weight: normal;
  font-size: 8rem;
  margin: 0;
}

.name h1:hover {
  color: blue;
  font-style: italic;
  font-weight: bold;
  transition: color 2s linear;
}

.image-1 {
  grid-area: image-1;
}

.image-2 {
  grid-area: image-2;
}

.image-3 {
  grid-area: image-3;
}

.image-1,
.image-2,
.image-3 {
  z-index: 2;
  transition: z-index 0s; /* Instant z-index change */
}

.image-1:hover,
.image-2:hover,
.image-3:hover {
  z-index: 4; /* Higher than text (which is 3) */
}

.image-1:hover ~ .name,
.image-2:hover ~ .name,
.image-3:hover ~ .name {
  filter: blur(5px); /* Adjust the pixel value for more/less blur */
}

.info {
  grid-area: info;
}
