/* ---------- ALLGEMEINE STYLES ----------- */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: blanchedalmond;
}

/* ---------- MEIN RASTER ------------- */

.grid-container {
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name name name bio bio"
    "text-1 image-1 image-1 image-1 image-1 image-1"
    "image-2 image-2 image-2 text-2 . ."
    ". . image-3 image-3 image-3 text-3";
}

.name {
  grid-area: name;
  /* background-color: blueviolet; */
  position: relative;
  top: 150px;
  z-index: 1;
}

.name h1 {
  /* color: red; */
  font-family: "Arial", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 200px;
  margin: 0;
}

.name h1:hover {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.bio {
  grid-area: bio;
}

.bio p {
  color: green;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
}

.image-1 {
  grid-area: image-1;
  position: relative;
}

.image-1 img {
  transition: opacity 0.3s ease;
}

.image-1 .b {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-1:hover .a {
  opacity: 0;
}

.image-1:hover .b {
  opacity: 1;
}

.image-2 {
  grid-area: image-2;
  position: relative;
}

.title {
  position: absolute;
  font-size: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.image-3 {
  grid-area: image-3;
}

.text-1 {
  grid-area: text-1;
}

.text-1 p {
}

.text-2 {
  grid-area: text-2;
}

.text-3 {
  grid-area: text-3;
}
