@font-face {
  font-family: "Avara-Bold";
  src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
  background-color: gainsboro;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name name name name name"
    "image-2 image-2 image-2 . bio bio"
    "image-2 image-2 image-2 text-2 . ."
    "text-1 image-1 image-1 image-1 image-1 image-1"
    ". . image-3 image-3 image-3 text-3";
}

.name {
  grid-area: name;
  position: sticky;
}

.name h1 {
  color: red;
  font-family: "Avara-Bold", serif;
  font-weight: normal;
  font-size: 8rem;
  margin: 0;
}

.name h1:hover {
  color: blue;
  font-style: italic;
  font-weight: bold;
  transition: color 2s linear;
}

.bio {
  grid-area: bio;
}

.bio p {
  color: green;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
  opacity: 0.2;
  transition: opacity 0.5s ease;
  transform: rotate(90deg);
}

.bio p:hover {
  opacity: 1;
}

.image-1 {
  grid-area: image-1;
  position: relative;
}

.image-1 img {
  transition: transform 0.3s ease;
}

.caption-image-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  margin: 0;
}

.image-1 img:hover {
  transform: scale(1.5);
}

.image-2 {
  grid-area: image-2;
}

.image-2 img {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3 ease;
}

.image-2 img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.image-3 {
  grid-area: image-3;
}

.image-3 img {
  transition: transform 0.5s ease;
}

.image-3 img:hover {
}

.text-1 {
  grid-area: text-1;
  position: relative;
  top: -500px;
}

.text-1 p {
}

.text-2 {
  grid-area: text-2;
}

.text-3 {
  grid-area: text-3;
}
