@font-face {
  font-family: "Avara-bold";
  src: url("fonts/Avara-Bold.woff2") format("woff2");
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgb(113, 129, 135);
  font-family: "hagrid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.grid-container {
  display: grid;
  padding: 0px 0px 0px 0px;
  gap: 15px;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas:
    ". bio bio bio ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". titel-projekte . . ."
    ". titel-paris titel-paris . ."
    ". image-4 image-5 image-3 ."
    ". image-2 image-1 text-paris ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". titel-lt1 titel-lt1 . ."
    ". image-6 image-7 image-8 ."
    ". image-9 image-10 text-lampen ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". titel-lt2 titel-lt2 . ."
    ". image-11 image-13 image-15 ."
    ". image-12 image-14 text-lt2 ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". text-daten text-daten . image-mw-logo"
    "image-balken-unten image-balken-unten image-balken-unten image-balken-unten image-balken-unten";
}

.header {
  display: flex;
  background-color: blueviolet;
  z-index: 10;
}

.name {
  z-index: 1;
}

.name h1 {
  color: rgb(0, 0, 0);
  font-size: 8rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.name h1:hover {
  font-weight: bold;
}

/* .image-logo {
    z-index: 1;
}
 
.image-logo img{
    margin: 0;
} */

.image-balken-unten {
  grid-area: image-balken-unten;
}

.image-balken-unten img {
  margin: 0;
  position: relative;
  bottom: -20px;
  left: 0px;
  right: 0px;
  align-self: center;
  scale: 101%;
}

.image-mw-logo {
  grid-area: image-mw-logo;
}

.image-mw-logo img {
  margin: 0;
  position: relative;
  margin-top: 80px;
  bottom: -20px;
  align-self: center;
  z-index: 1;
}

.bio {
  grid-area: bio;
}

.bio p {
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.titel-projekte {
  grid-area: titel-projekte;
}

.titel-projekte p {
  font-size: 5.3rem;
  margin: 0;
}

.titel-projekte :hover {
  font-weight: bold;
}

.image-1 {
  grid-area: image-1;
  margin: 0;
  position: relative;
}

.image-1 img {
  transition: transform 0.4s ease;
}

.image-1 img:hover {
  transform: scale(1.5);
}

.image-2 {
  grid-area: image-2;
  margin: 0;
  position: relative;
}

/* .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
} */

.image-2 img {
  transition: transform 0.4s ease;
}

.image-2 img:hover {
  transform: scale(1.5);
}

.image-3 {
  grid-area: image-3;
  margin: 0;
}

.image-3 img {
  transition: transform 0.4s ease;
}

.image-3 img:hover {
  transform: scale(1.5);
}

.image-4 {
  grid-area: image-4;
  margin: 0;
}

.image-4 img {
  transition: transform 0.4s ease;
}

.image-4 img:hover {
  transform: scale(1.5);
}

.image-5 {
  grid-area: image-5;
  margin: 0;
}

.image-5 img {
  transition: transform 0.4s ease;
}

.image-5 img:hover {
  transform: scale(1.5);
}

.image-6 {
  grid-area: image-6;
}

.image-6 img {
  transition: transform 0.4s ease;
}

.image-6 img:hover {
  transform: scale(1.5);
}

.image-7 {
  grid-area: image-7;
}

.image-7 img {
  transition: transform 0.4s ease;
}

.image-7 img:hover {
  transform: scale(1.5);
}

.image-8 {
  grid-area: image-8;
}

.image-8 img {
  transition: transform 0.4s ease;
}

.image-8 img:hover {
  transform: scale(1.5);
}

.image-9 {
  grid-area: image-9;
}

.image-9 img {
  transition: transform 0.4s ease;
}

.image-9 img:hover {
  transform: scale(1.5);
}

.image-10 {
  grid-area: image-10;
}

.image-10 img {
  transition: transform 0.4s ease;
}

.image-10 img:hover {
  transform: scale(1.5);
}

.image-11 {
  grid-area: image-11;
}

.image-11 img {
  transition: transform 0.4s ease;
}

.image-11 img:hover {
  transform: scale(1.5);
}

.image-12 {
  grid-area: image-12;
}

.image-12 img {
  transition: transform 0.4s ease;
}

.image-12 img:hover {
  transform: scale(1.5);
}

.image-13 {
  grid-area: image-13;
}

.image-13 img {
  transition: transform 0.4s ease;
}

.image-13 img:hover {
  transform: scale(1.5);
}

.image-14 {
  grid-area: image-14;
}

.image-14 img {
  transition: transform 0.4s ease;
}

.image-14 img:hover {
  transform: scale(1.5);
}

.image-15 {
  grid-area: image-15;
}

.image-15 img {
  transition: transform 0.4s ease;
}

.image-15 img:hover {
  transform: scale(1.5);
}

.text-paris {
  grid-area: text-paris;
}

.text-paris p {
  line-height: 1.3;
  margin: 0;
  font-size: 1.3rem;
}

.text-lampen {
  grid-area: text-lampen;
}

.text-lampen p {
  line-height: 1.3;
  margin: 0;
  font-size: 1.3rem;
}

.text-lt2 {
  grid-area: text-lt2;
}

.text-lt2 p {
  line-height: 1.3;
  margin: 0;
  font-size: 1.3rem;
}

.text-daten {
  grid-area: text-daten;
}

.text-daten p {
  margin: 0;
  line-height: 1.7;
  font-size: 1.5rem;
}

.titel-paris {
  grid-area: titel-paris;
}

.titel-paris p {
  font-size: 2rem;
  margin: 0;
}

.titel-lt1 {
  grid-area: titel-lt1;
}

.titel-lt1 p {
  font-size: 2rem;
  margin: 0;
}

.titel-lt2 {
  grid-area: titel-lt2;
}

.titel-lt2 p {
  font-size: 2rem;
  margin: 0;
}
